body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fbe7;
  color: #1b5e20;
}

header {
  background-color: #558b2f;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #f1f8e9;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px 20px;
  max-width: 1000px;
  margin: auto;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2em;
  width: 300px;
  max-width: 90%;
  border: 1px solid #c5e1a5;
  border-radius: 8px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 1.2em;
  background-color: #66bb6a;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #558b2f;
}

#resultat {
  margin-top: 30px;
  padding: 20px;
  background-color: #e8f5e9;
  border-left: 6px solid #33691e;
  border-radius: 10px;
  font-size: 1.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

footer {
  background-color: #a5d6a7;
  color: #1b5e20;
  text-align: center;
  padding: 15px 10px;
  position: relative;
  margin-top: 50px;
  font-weight: bold;
}
